.container {
  border-radius: 20px;
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  color: white;
  width: 300px;
  text-align: center;
  margin-top: 25px;
  margin-left: 35%;
}

.logo {
  width: 150px;       /* controla o tamanho da imagem */
  height: auto;       /* mantém a proporção */
  display: flex;     /* permite usar margin */
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-left: 50%;
}